<style>
  .nav{
  background-color: #42403f;
}

.account{
  background: #E4D8B4;
  margin-right: 8px;
}

.carrello{
  background: #83B799;
}

.cerca{
  color: #E4D8B4;
  border: 1px solid #E4D8B4;
}

.cerca:hover{
  color: #83B799;
  border: 1px solid #848484;

}

.stagione{
  color: #E4D8B4
}

.stagione:hover{
  color: white
}

#titolo{
  color: #E4D8B4;
}

a{
  text-decoration: none;
}
</style>
 <nav class="navbar navbar-expand-md navbar-dark nav mb-1">
      <div class="container-fluid">
          <a class="navbar-brand " href="/" id="titolo">Bvintage</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          </ul>
          <form class="d-flex">
               <a href="/ebook" class="btn  mr-2 stagione" type="submit">Ebook</a>               
                <a href="/libri" class="btn  mr-4 stagione" type="submit">Libri</a>

                <% if(!currentUser)  {%> 
                  <a href="/login" class="btn  mr-2 text-dark border-0  account" >Login</a>
                  <% } else {%>
                    <a href="/logout" class="btn  mr-2 text-dark border-0  account" >Logout</a>
                  <% } %> 
                
                <a href="/cart" class="btn carrello " type="submit">
                  <span class="text-light"><i class="fas fa-shopping-cart"></i></span>
                  <span  class="text-light ms-1">Cart </span>                  
                </a>
          </form>
        </div>
      </div>
    </nav>
 